  <h1>Bienvenido a Twitter API!</h1>
  <p>Este es un ejercicio para probar la gema de Twitter.</p>

<form action="/fetch" method="post">
  Twitter Handle:<br>
  <input type="text" name="twitterhandle">
  <br>
  <input type="submit" value="Submit">
</form>

  
