<div align="center">
<div class="jumbotron">
    <h1>Results</h1> 
</div>
<div class="col-md-6">
    <h2 style="color: green;">Correct:</h2>
    <h3><%= p @correct %></h3>
</div>
<div class="col-md-6">
    <h2 style="color: red;">Incorrect:</h2>
    <h3><%= p @wrong %></h3>
</div>
<button type="submit" id="playagain_button" class="btn btn-primary btn-lg">Try again!</button>
</div>