<form action="/user/authenticate" method="post" id="login_form" align="center">
<div class="jumbotron" align="center">
    <h1>Enter your email and password to log in</h1>
</div>
    E-mail:<br>
    <input type="email" name="email" required><br>
    Password:<br>
    <input type="password" name="password" required><br><br>
    <button type="submit" class="btn btn-success" id="loginsubmit">Log in</button>
    <button class="btn btn-primary" id="homepagebutton">Back</button>
</form>

