<div class="jumbotron" align="center">
<form action="/user/acccreated" method="post" id="account_form">
  <div class="jumbotron" align="center">
    <h1>Enter your email and password to create an account</h1>
</div>
    Name:<br>
    <input type="text" name="name" required><br>
    E-mail:<br>
    <input type="email" name="email" required><br>
    Password:<br>
    <input type="password" name="password" required><br><br>
    <button type="submit" class="btn btn-success">Create Account</button>
    <button class="btn btn-primary" id="homepagebutton">Back</button>
  </form>
</div>